[submodule "repos/TadTR"]
	path = repos/TadTR
	url = https://github.com/xlliu7/TadTR.git
[submodule "repos/E2E-TAD"]
	path = repos/E2E-TAD
	url = https://github.com/xlliu7/E2E-TAD.git
[submodule "repos/VideoMAEv2"]
	path = repos/VideoMAEv2
	url = https://github.com/OpenGVLab/VideoMAEv2.git
[submodule "repos/VCLTDR-GMG"]
	path = repos/VCLTDR-GMG
	url = https://github.com/LiQiang0307/CLTDR-GMG.git
[submodule "repos/OpenTAL"]
	path = repos/OpenTAL
	url = https://github.com/Cogito2012/OpenTAL.git
[submodule "repos/DiffusionTAD"]
	path = repos/DiffusionTAD
	url = https://github.com/sauradip/DiffusionTAD.git
[submodule "repo/ActionFormer"]
	path = repo/ActionFormer
	url = https://github.com/happyharrycn/actionformer_release
[submodule "repos/ActionFormer"]
	path = repos/ActionFormer
	url = https://github.com/happyharrycn/actionformer_release
